:root {
  --white: #FFFFFF;
  --black: #000000;
  --red: #F6446E;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.section-title {
  margin: 20px 10px;
  text-align: center;
  font-size: 25px;
  border-bottom: 2px solid var(--red);
}

header {
  background-image: url("../images/black-white-topography-map-mugs.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 20px;
}

header h1 {
  margin: auto 0;
  font-size: 20px;
  line-height: 1.5;
}

header a {
  text-decoration: none;
  color: var(--white);
}

header nav {
  margin: 10px 0;
  align-items: flex-end;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 5px 0;
}

header nav ul li a {
  margin: auto 0;
  color: var(--white);
  text-decoration: none;
  padding: 0 10px;
  font-size: 12px;
}

header nav ul li a:hover {
  margin: 0 7px;
  padding: 3px;
  background-color: var(--white);
  color: var(--black);
}

.hero {
  background-image: url("../images/black-white-topography-map-mugs.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.hero-img h2 {
  color: var(--white);
  margin-bottom: 20px;
  border: 5px solid var(--red);
  padding: 20px;
  text-align: center;
  font-size: 75px;
}

.about-me p {
  padding: 0 20px;
  text-align: center;
  line-height: 1.2;
}

.work-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.run-buddy,
.placeholder {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
  height: 25vh;
  margin: 10px;
  border: 4px solid var(--red);
  position: relative;
}

.run-buddy {
  flex: 100%;
}

.placeholder {
  flex: 1 40%;
}

.run-buddy-img {
  height: 100%;
  width: 100%;
  background-image: url(../images/Screenshot.png);
  background-position: top left;
  position: relative;
}

.placeholder-img {
  height: 100%;
  width: 100%;
  background-image: url(../images/Screenshot.png);
  background-position: top left;
  position: relative;
}

.run-buddy-img a,
.placeholder-img a {
  position: absolute;
  height: 100%;
  width: 100%;
}

.textarea {
  color: var(--black);
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--red);
  width: 118px;
}

.textarea h4 {
  font-size: 20px;
}

.text-area p {
  font-size: 15px;
}


