:root {
  --white: #e6e6e6;
  --black: #000000;
  --red: #F6446E;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* header */
header {
  background-image: url("../images/black-white-topography-map-mugs.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 20px;
}

header h1 {
  margin: auto 0;
  font-size: 25px;
  line-height: 1.5;
}

header a {
  text-decoration: none;
  color: var(--white);
}

header nav {
  margin: 10px 0;
  align-items: flex-end;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 5px 0;
}

header nav ul li a {
  margin: auto 0;
  color: var(--white);
  text-decoration: none;
  padding: 0 10px;
  font-size: 15px;
}

header nav ul li a:hover {
  margin: 0 7px;
  padding: 3px;
  background-color: var(--white);
  color: var(--black);
  border-radius: 3px;
}

/* reused sectiob title */
.section-title {
  padding: 0 10px 5px 10px;
  text-align: left;
  font-size: 25px;
  border-bottom: 2px solid var(--red);
  padding-top: 5px;
  background-image: url(../images/black-white-topography-map-mugs-invert.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
}

/* hero/logo */
.hero {
  background-image: url("../images/black-white-topography-map-mugs.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 20px;
}

.hero-img h2 {
  color: var(--white);
  margin-bottom: 20px;
  border: 5px solid var(--red);
  padding: 20px;
  text-align: center;
  font-size: 75px;
}

/* about me section */
.about-me {
  background-image: url(../images/black-white-topography-map-mugs-invert.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  padding-bottom: 20px;
}

.about-me-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-me img {
  margin: 10px 10px 0 10px;
  width: 30%;
  flex: 1 40%;
  border: 4px solid var(--red);
}

.about-me-para {
  flex: 1 60%;
  margin: 10px 10px 0 10px;
  padding: 0 5px;
  text-align: center;
  line-height: 1.2;
  font-size: 20px;
  background-color: var(--white);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
  border-radius: 3px;
}

.about-me-para p {
  padding: 5px 0;
}

/* deployed works section */
.work-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/black-white-topography-map-mugs-invert.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  padding-bottom: 20px;
}

.run-buddy,
.robot-gladiators,
.password-app,
.note-taker,
.weather-buddy,
.dinner-guru,
.heroverse {
  height: 200px;
  margin: 10px;
  border: 4px solid var(--red);
  position: relative;
  transition: top ease 0.5s;
  border-radius: 3px;
}

.run-buddy:hover,
.robot-gladiators:hover,
.password-app:hover,
.note-taker:hover,
.weather-buddy:hover,
.dinner-guru:hover,
.heroverse:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
  top: -5px;
}

.run-buddy {
  flex: 100%;
}

.password-app,
.robot-gladiators,
.note-taker,
.weather-buddy,
.dinner-guru,
.heroverse {
  flex: 1 40%;
}

.run-buddy-img {
  height: 100%;
  width: 100%;
  background-image: url(../images/Screenshot.png);
  background-position: top left;
  position: relative;
  border-radius: 3px;
}

.robot-gladiators-img {
  height: 100%;
  width: 100%;
  background-image: url(../images/istockphoto-470975540-612x612.png);
  background-position: center;
  position: relative;
}

.password-app-img {
  height: 100%;
  width: 100%;
  background-image: url(../images/20210912.png);
  background-position: center;
  position: relative;
}

.note-taker-img {
  height: 100%;
  width: 100%;
  background-image: url(../images/note-taker.png);
  background-position: center;
  position: relative;
}

.dinner-guru-img {
  height: 100%;
  width: 100%;
  background-image: url(../images/dinner-guru-logo.png);
}

.heroverse-img {
  height: 100%;
  width: 100%;
  background-image: url(../images/heroverselogo.png);
}

.weather-buddy-img {
  height: 100%;
  width: 100%;
  background-image: url(../images/weather-buddy.png);
  background-position: center;
  position: relative;
}

.run-buddy-img a,
.robot-gladiators-img a,
.dinner-guru-img a,
.password-app-img a,
.note-taker-img a,
.weather-buddy-img a {
  position: absolute;
  height: 100%;
  width: 100%;
}

.textarea {
  padding: 5px 5px 0 0;
  color: var(--black);
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--red);
  border-radius: 3px;
}

.textarea h4 {
  font-size: 20px;
}

.text-area p {
  font-size: 15px;
}

/* contact section */
.contact-links ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 10px 20px 10px;
  text-decoration: none;
  background-image: url(../images/black-white-topography-map-mugs-invert.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
}

.contact-links ul li {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  list-style: none;
  padding: 5px;
  transition: top ease 0.5s;
}

.contact-links ul li a {
  position: relative;
  text-decoration: underline;
  color: var(--black);
  padding: 5px;
  transition: top ease 0.5s;
}

.contact-links ul li a:hover {
  background-color: var(--red);
  padding: 5px;
  border-radius: 3px;
}

.contact-links ul li:hover {
  background-color: var(--red);
  padding: 5px;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
  top: -5px;
}

/*  media queries */
@media only screen and (max-width: 700px) {
  .run-buddy,
  .discord-bot,
  .placeholder {
    flex: 100%;
  }

  .about-me-box {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 566px) {
  .contact-links ul {
    align-items: center;
    justify-content: space-around;
  }

  .contact-links ul li,
  .contact-links ul li a {
    flex: 1 50%;
    text-align: center;
  }
}

@media only screen and (max-width: 529px) {
  .contact-links ul li,
  .contact-links ul li a {
    flex: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  header {
    padding: 10px 50px;
  }

  header h1 {
    flex: 100%;
    text-align: center;
  }

  header nav {
    align-items: center;
    justify-content: space-around;
    flex: 100%;
  }
}

@media only screen and (max-width: 339px) {
  header nav ul li {
    flex: 1 50%;
    text-align: center;
  }
}
